#clients
    padding: 50px 0
    height: 150px
    .imgbox
        width: 180px
        height: 110px
        margin-right: 80px
    .x
        width: 100px
        height: 100px
        margin-right: 80px
