#contactus
    background-color: #212529
    background-image: url(/assets/map-image.png)
    background-position: center center
    background-size: cover
    color: #ffff
    h1
        font-size: 45px
        font-weight: 700
        line-height: 2
    h3
        font-size: 18px
        font-style: italic
        color: #6c757d
        line-height: 1.2
    .box
        margin: 50px 0 25px
        input
            width: 650px
            height: 60px
            margin: 10px 0
            font-size: 20px
            font-weight: 400
    .box2
        margin: 60px 0 25px
        textarea
            width: 600px
            height: 220px
            font-size: 20px
            padding: 20px
            border-radius: 10px
    .btn
        background-color: #ffc800
        width: 230px
        height: 70px
        padding: 20px 30px
        font-size: 19px
        font-weight: 700
        color: #ffff
        opacity: 0.6
    @media screen and ( max-width: 992px )
        .box
            input
                width: 340px
                height: 60px
        .box2
            textarea
                width: 340px
                height: 220px
    @media screen and ( max-width: 768px )
        h1
            font-size: 40px
        .box
            margin: 50px 0 0
            input
                width: 530px
                height: 60px
        .box2
            margin: 10px 0 40px
            textarea
                width: 530px
                height: 200px
