#contactus
    background-color: #212529
    background-image: url(/assets/map-image.png)
    background-position: center center
    background-size: cover
    color: #ffff
    h1
        font-size: 50px
        font-weight: 700
        line-height: 2
    h3
        font-size: 18px
        font-style: italic
        color: #6c757d
        line-height: 1.2
    .box
        margin: 50px 0 25px
        input
            width: 100%
            height: 60px
            margin: 10px 0
            font-size: 20px
            font-weight: 400
    .box2
        margin: 60px 0 25px
        textarea
            width: 100%
            height: 220px
            font-size: 20px
            padding: 20px
            border-radius: 10px
    .btn
        background-color: #ffc800
        padding: 20px 40px
        font-size: 19px
        font-weight: 700
        color: #ffff
        opacity: 0.6
        
    @media screen and ( max-width: 768px )
        h1
            font-size: 40px
            line-height: 1.5
        .box
            margin: 50px 0 0
        .box2
            margin: 10px 0 40px
        .btn
            padding: 10px
