footer
    .menu
        a
            color: #000
            &:hover
                cursor: pointer
                color: #000
        span
            margin: 0 10px
            &:hover
                cursor: pointer
                color: #000
        .minibox
            display: flex
            justify-content: center
            margin: 15px 0
            .icon
                i
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    padding: 10px 14px
                    margin: 10px
                    background-color: #212529
                    font-size: 17px
                    color: #ffff
                    &:hover
                        cursor: pointer
                        opacity: 0.3
