header
    .menu
        padding: 30px 0
        background-color: #212529
        position: fixed
        z-index: 1
        right: 0
        left: 0
        .imgbox
            width: 170px
            margin-left: 120px
        .btn
            display: flex
            align-items: center
            color: #e3e9eee1
            display: none
            border: 1px solid #cfc6c6bb
            padding: 5px
            opacity: 0.6
            h5
                font-weight: 700
                font-size: 14px
            .icon
                margin-left: 7px
                cursor: pointer
        nav
            margin-right: 120px
            a
                font-size: 19px
                color: #ffff
                margin: 0 20px
                cursor: pointer
                &:hover
                    color: #fed136
    @media screen and ( max-width: 576px )
        .menu
            height: 70px
            .btn
                margin-right: 10px
                padding:  6px 10px
            .imgbox
                margin-left: 20px
    @media screen and ( max-width: 768px )
        .menu
            nav
                display: none
            .btn
                display: flex
                margin-right: 30px
            .imgbox
                margin-left: 20px
    @media screen and ( max-width: 992px )
        .menu
            nav
                margin-right: 55px
                a
                    margin: 0 10px
            .imgbox
                margin-left: 40px