header
    .col-md-12
        padding: 20px 0
        background-color: #212529
        position: fixed
        z-index: 1
        right: 0
        left: 0
        .menu
            .imgbox
                width: 150px
                margin-right: 90px
                img
                    &:hover
                        cursor: pointer
            nav
                margin-left: 80px
                a
                    font-size: 16px
                    color: #ffff
                    margin-right: 30px
                    &:hover
                        cursor: pointer
                        color: #fed136
