body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #212529;
}
header .menu {
  height: 70px;
}
header .menu .imgbox {
  width: 150px;
  margin-left: 120px;
}
header .menu .btn {
  display: flex;
  align-items: center;
  color: rgba(227, 233, 238, 0.8823529412);
  display: none;
  border: 1px solid rgba(207, 198, 198, 0.7333333333);
  padding: 5px;
  opacity: 0.6;
}
header .menu .btn h5 {
  font-weight: 700;
  font-size: 14px;
}
header .menu .btn .icon {
  margin-left: 7px;
  cursor: pointer;
}
header .menu nav {
  margin-right: 120px;
}
header .menu nav a {
  font-size: 19px;
  color: white;
  margin: 0 20px;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #fed136;
}
@media screen and (max-width: 576px) {
  header .menu {
    height: 70px;
  }
  header .menu .btn {
    margin-right: 10px;
    padding: 6px 10px;
  }
  header .menu .imgbox {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
    margin-right: 30px;
  }
  header .menu .imgbox {
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  header .menu nav {
    margin-right: 55px;
  }
  header .menu nav a {
    margin: 0 10px;
  }
  header .menu .imgbox {
    margin-left: 40px;
  }
}

#welcome {
  background-image: url(/assets/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}
#welcome .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
#welcome .box .textbox {
  padding: 50px 0;
  color: white;
}
#welcome .box .textbox h1 {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
}
#welcome .box .textbox h2 {
  font-size: 75px;
  font-weight: 700;
  margin: 20px 0;
}
#welcome .box .textbox .btn {
  background-color: #ffc800;
  padding: 18px 40px;
  margin: 40px 0 0;
}
#welcome .box .textbox .btn:hover {
  cursor: pointer;
  background-color: #d9aa00;
}
#welcome .box .textbox .btn h4 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
#welcome .box .textbox .btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  #welcome .box .textbox h1 {
    font-size: 30px;
  }
  #welcome .box .textbox h2 {
    font-size: 55px;
  }
}

#services h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 2;
}
#services h3 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
}
#services .box {
  margin: 50px 0;
}
#services .box .icon i {
  font-size: 65px;
  padding: 30px;
  border-radius: 100px;
  color: white;
  background-color: #ffc800;
}
#services .box h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 15px 0 20px;
  line-height: 1.2;
}
#services .box h4 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  #services h3 {
    margin-bottom: 50px;
  }
  #services .box {
    margin: 15px 0;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
}
#portfolio h3 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
  line-height: 1.2;
  margin: 0 0 50px;
}
#portfolio .box {
  background-color: white;
  margin: 15px 2px;
  padding: 0 0 30px;
}
#portfolio .box h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0 10px;
}
#portfolio .box h5 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon i {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}
#portfolio .box .imgbox .icon i:hover {
  background-color: #ffbb00;
  opacity: 0.9;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  #portfolio .box .imgbox {
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  #portfolio .textbox h1 {
    font-size: 40px;
  }
  #portfolio .textbox h3 {
    font-size: 18px;
    margin-bottom: 35px;
  }
  #portfolio .box {
    margin: 20px 50px 0;
  }
  #portfolio .box .imgbox {
    width: auto;
  }
}

#about h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 2;
}
#about h3 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
  line-height: 1.2;
}
#about .box {
  margin-top: 50px;
}
#about .box .textbox {
  width: 350px;
  margin: 0 30px;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 28px;
  font-weight: 600;
}
#about .box .textbox h4 {
  margin: 10px 0;
}
#about .box .textbox p {
  font-size: 17px;
  color: #6c757d;
  line-height: 1.3;
}
#about .box .imgbox {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 7px solid #eaedf0;
}
#about .story {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#about .story .yellow {
  background-color: #ffc800;
  padding: 30px 40px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 7px solid #eaedf0;
}
#about .story .yellow h5 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
#about .right {
  margin-right: 150px;
  display: flex;
  justify-content: flex-end;
}
#about .right .textbox {
  text-align: start;
}
#about .left {
  margin-left: 160px;
  display: flex;
  justify-content: flex-start;
}
#about .left .textbox {
  text-align: end;
}
@media screen and (max-width: 992px) {
  #about .box {
    margin-top: 80px;
  }
  #about .box .textbox {
    width: 230px;
    margin: 0 30px;
  }
  #about .box .textbox h2, #about .box .textbox h4 {
    font-size: 25px;
  }
  #about .box .textbox p {
    font-size: 17px;
    line-height: 1.6;
  }
  #about .box .imgbox {
    width: 100px;
    height: 100px;
  }
  #about .right {
    margin-right: 20px;
  }
  #about .left {
    margin-left: 20px;
  }
  #about .story .yellow {
    padding: 10px 5px 0 10px;
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  #about h1 {
    font-size: 50px;
    font-weight: 700;
  }
  #about h3 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  #about .right {
    margin-right: auto;
  }
  #about .right .textbox {
    width: 350px;
  }
  #about .right .textbox h2, #about .right .textbox h4 {
    font-size: 30px;
  }
  #about .right .textbox p {
    font-size: 20px;
    line-height: 1.4;
  }
  #about .right .imgbox {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 7px solid #eaedf0;
  }
  #about .left {
    margin-left: auto;
    flex-direction: row-reverse;
  }
  #about .left .textbox {
    text-align: start;
    width: 350px;
  }
  #about .left .textbox h2, #about .left .textbox h4 {
    font-size: 30px;
  }
  #about .left .textbox p {
    font-size: 20px;
    line-height: 1.4;
  }
  #about .left .imgbox {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 7px solid #eaedf0;
  }
  #about .story {
    display: flex;
    justify-content: flex-start;
  }
  #about .story .yellow {
    width: 90px;
    height: 90px;
    padding: 10px 5px 0 10px;
  }
  #about .story .yellow h5 {
    font-size: 15px;
  }
}

#team {
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 2;
}
#team h3 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
  line-height: 1.2;
}
#team p {
  font-size: 18px;
  color: #6c757d;
  line-height: 1.5;
  margin: 30px 20px;
}
#team .box {
  margin: 50px 0 0;
}
#team .box .imgbox {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 7px solid #dfe0e1;
}
#team .box .textbox h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0 10px;
}
#team .box .textbox h4 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
}
#team .box .minibox {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
#team .box .minibox .icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #212529;
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 768px) {
  #team p {
    margin: 30px;
    font-size: 15px;
  }
  #team .box {
    margin: 40px 0 0;
  }
}

#clients {
  padding: 50px 0;
}
#clients .box {
  padding: 0 50px;
}
#clients .box .imgbox {
  width: 150px;
}
#clients .box .microsoft {
  width: 170px;
}
#clients .box .ibm {
  width: 100px;
}
@media screen and (max-width: 768px) {
  #clients .box .imgbox {
    margin-top: 30px;
  }
}

#contactus {
  background-color: #212529;
  background-image: url(/assets/map-image.png);
  background-position: center center;
  background-size: cover;
  color: white;
}
#contactus h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 2;
}
#contactus h3 {
  font-size: 18px;
  font-style: italic;
  color: #6c757d;
  line-height: 1.2;
}
#contactus .box {
  margin: 50px 0 25px;
}
#contactus .box input {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
}
#contactus .box2 {
  margin: 60px 0 25px;
}
#contactus .box2 textarea {
  width: 100%;
  height: 220px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}
#contactus .btn {
  background-color: #ffc800;
  height: 70px;
  padding: 20px 40px;
  font-size: 19px;
  font-weight: 700;
  color: white;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  #contactus h1 {
    line-height: 1.5;
  }
  #contactus .box {
    margin: 50px 0 0;
  }
  #contactus .box2 {
    margin: 10px 0 40px;
  }
}

footer {
  padding: 22px 0;
}
footer .menu a {
  color: #000;
}
footer .menu a:hover {
  cursor: pointer;
  color: #000;
}
footer .menu span {
  margin: 0 10px;
}
footer .menu span:hover {
  cursor: pointer;
  color: #000;
}
footer .menu .minibox {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
footer .menu .minibox .icon i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 12px 14px;
  margin: 10px;
  background-color: #212529;
  font-size: 15px;
  color: white;
}
footer .menu .minibox .icon i:hover {
  cursor: pointer;
  opacity: 0.3;
}
@media screen and (max-width: 991px) {
  footer .menu {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */